.currentMovies{
    transform: translate(10px, -5px);
    font-size: 20px;
}

.showseats{
    transform: translate(30px, -5px);
    font-size: 20px;
}

.showings{
    transform: translate(20px, -5px);
    font-size: 20px;
}

.list{
    margin-right: 55px;
}

.login{
    font-size: 18px;

}

.signup{
    font-size: 18px;

}

.createMovies{
    transform: translate(79px,35px)
}

.buttonCard{
    transform: translate(53px,5px)

}





